*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
}
.strongHeader{
    font-weight: 900;
}
.exp-text{
    line-height:30px;
}
.icon {
    cursor: pointer;
}
.icon.icon-blue {
    color: #3554e4;
}
.icon.icon-red {
    color: #e43562;
}
h1,h2,h3,h4,h5 h6,p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


a{
    text-decoration: none !important;
}


.hideArrow::-webkit-inner-spin-button,
.hideArrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: none;
}
body,
#root {
    overflow-x: hidden !important;
}
.myScroll::-webkit-scrollbar {
    width: 4px;
    background-color: rgb(255, 255, 255);
}
.myScroll::-webkit-scrollbar-button {
    background-color: rgb(255, 255, 255);
}
.myScroll::-webkit-scrollbar-thumb {
    background-color: rgb(217, 217, 217);
    border-radius: 10px;
    width: 4px !important;
}


@media screen and (max-width: 380px) {
    .rs-panel-body {
        padding: 5px;
    }
}
